@charset "utf-8";

/*
TABLE OF CONTENTS:
01. CSS Reset
02. General
03. Header
04. 
05. 
*/

/*---------------------------------------------------------------------*/
/*--- 01. CSS RESET ---*/
/*---------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {  margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

/*---------------------------------------------------------------------*/
/*--- 02. GENERAL ---*/
/*---------------------------------------------------------------------*/

body{
	background: #fff;
	font: 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
}

p{
	margin-bottom: 30px;
}

a{
	color: #198ac3;
	text-decoration: none;
}

a:hover{
	color: #42a7da;
}

.box630{
	float: left;
	width: 630px;
}

.box280{
	float: left;
	width: 280px;
}

h2{
	font-size: 30px;
	font-weight: normal;
	color: #333;
	margin-bottom: 30px;
}

h3{
	font-size: 24px;
	font-weight: normal;
	color: #333;
	margin-bottom: 30px;
}

h4{
	font-size: 18px;
	font-weight: normal;
	color: #333;
	margin-bottom: 30px;
}

.button{
	height: 38px;
	line-height: 38px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 20px;
	display: inline-block;
	border: 1px solid;
}

.button.orange{
	color: #fff;
	text-shadow: 0px 1px 1px #777;
	border-color: #edb46c #d99a4a #c58331;
	background: #ffc274; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc274 0%, #ffaa3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc274), color-stop(100%,#ffaa3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc274 0%,#ffaa3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc274 0%,#ffaa3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc274 0%,#ffaa3e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc274 0%,#ffaa3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc274', endColorstr='#ffaa3e',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0px 1px 1px #ffddb2;
	-webkit-box-shadow: inset 0px 1px 1px #ffddb2;
	box-shadow: inset 0px 1px 1px #ffddb2;
}

.button.orange:hover{
	background: #ffd29b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd29b 0%, #ffaa3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd29b), color-stop(100%,#ffaa3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd29b 0%,#ffaa3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd29b 0%,#ffaa3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd29b 0%,#ffaa3e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd29b 0%,#ffaa3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd29b', endColorstr='#ffaa3e',GradientType=0 ); /* IE6-9 */
}

.button.blue{
	color: #fff;
	text-shadow: 0px 1px 1px #777;
	border-color: #16a5d9 #0b8cbc #00759f;
	background: #18b2ea; /* Old browsers */
	background: -moz-linear-gradient(top,  #18b2ea 0%, #0097ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18b2ea), color-stop(100%,#0097ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #18b2ea 0%,#0097ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #18b2ea 0%,#0097ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #18b2ea 0%,#0097ce 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #18b2ea 0%,#0097ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18b2ea', endColorstr='#0097ce',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0px 1px 1px #80d5f3;
	-webkit-box-shadow: inset 0px 1px 1px #80d5f3;
	box-shadow: inset 0px 1px 1px #80d5f3;
}

.button.blue:hover{
	background: #7fcce8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7fcce8 0%, #0097ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7fcce8), color-stop(100%,#0097ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7fcce8 0%,#0097ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7fcce8 0%,#0097ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7fcce8 0%,#0097ce 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7fcce8 0%,#0097ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fcce8', endColorstr='#0097ce',GradientType=0 ); /* IE6-9 */
}

.button.black{
	color: #fff;
	text-shadow: 0px 1px 1px #111;
	border-color: #4e4e4e #3e3e3e #303030;
	background: #545454; /* Old browsers */
	background: -moz-linear-gradient(top,  #545454 0%, #3e3e3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(100%,#3e3e3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #545454 0%,#3e3e3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #545454 0%,#3e3e3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #545454 0%,#3e3e3e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #545454 0%,#3e3e3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#3e3e3e',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0px 1px 1px #909090;
	-webkit-box-shadow: inset 0px 1px 1px #909090;
	box-shadow: inset 0px 1px 1px #909090;
}

.button.black:hover{
	background: #707070; /* Old browsers */
	background: -moz-linear-gradient(top,  #707070 0%, #3e3e3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#3e3e3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #707070 0%,#3e3e3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #707070 0%,#3e3e3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #707070 0%,#3e3e3e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #707070 0%,#3e3e3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#3e3e3e',GradientType=0 ); /* IE6-9 */
}

.button.gray{
	color: #158cd2;
	text-shadow: 0px 1px 1px #fff;
	border-color: #e0e0e0 #c1c1c1 #a5a5a5;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #d5d5d5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#d5d5d5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#d5d5d5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#d5d5d5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#d5d5d5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 0%,#d5d5d5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0px 1px 1px #ffffff;
	-webkit-box-shadow: inset 0px 1px 1px #ffffff;
	box-shadow: inset 0px 1px 1px #ffffff;
}

.button.gray:hover{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #d5d5d5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d5d5d5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d5d5d5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#d5d5d5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#d5d5d5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#d5d5d5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-9 */
}

.clear{
	clear: both;
}

/*--- FONTS ---*/

@font-face {
    font-family: 'WebHostingHub-Glyphs';
    src: url('../font/webhostinghub-glyphs.eot');
    src: url('../font/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'),
         url('../font/webhostinghub-glyphs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -moz-font-feature-settings: "calt=0,liga=0";
}

.whhg1, .whhg-icon1:before {
    font-family: 'whhglyphsregular';
  font-family: 'WHHGlyphs';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-font-feature-settings: "calt=0,liga=0";
}

.whhg-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}
[class^="icon-"] {
  margin-right:0.3em;
  font-size:250%;
}


/*---------------------------------------------------------------------*/
/*--- 03. HEADER ---*/
/*---------------------------------------------------------------------*/

.headerWrapper{
	width: 100%;
	height: 80px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0px 0px 2px #555;
	-webkit-box-shadow: 0px 0px 2px #555;
	box-shadow: 0px 0px 2px #555;
	position: fixed;
	top: 0px;
	z-index: 100;
}

.header{
	width: 960px;
	height: 80px;
	margin: 0 auto;
}

h1{
	font-size: 30px;
	font-weight: normal;
	line-height: 80px;
	color: #ff940d;
	float: left;
}

h1 a{
	color: #ff940d;
}

h1 a:hover{
	color: #ff940d;
}

h1 span{
	font-weight: bold;
	color: #0f7fbf;
}

.navigation{
	float: right;
	height: 80px;
}

.navigation li{
	float: left;
	height: 80px;
	line-height: 80px;
	margin-left: 50px;
}

.navigation li a{
	font-size: 13px;
	font-weight: bold;
	color: #777;
	text-transform: uppercase;
}

.navigation li a:hover{
	color: #333;
}

.navigation li.active a{
	color: #ff940d;
}

/*---------------------------------------------------------------------*/
/*--- 04. INTRO ---*/
/*---------------------------------------------------------------------*/

.introWrapper{
	width: 100%;
	height: 420px;
	padding-top: 80px;
	background: url(../images/blue-bg.png) repeat-x 0px 80px;
	-moz-box-shadow: inset 0px 0px 2px #555;
	-webkit-box-shadow: inset 0px 0px 2px #555;
	box-shadow: inset 0px 0px 2px #555;
}

.intro{
	width: 960px;
	height: 420px;
	margin: 0 auto;
	background: url(../images/intro-bg.png) no-repeat;
	position: relative;
	z-index: 1;
}

.ribbon{
	width: 110px;
	position: absolute;
	top: 0px;
	right: 17px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-family: 'Courgette', cursive;
	text-shadow: 0px -1px 1px #777;
	padding-top: 20px;
	z-index: 10;
}

.ribbon span{
	font-size: 14px;
	line-height: 18px;
}

.intro .box630{
	padding-top: 270px;
}

.intro h2{
	color: #fff;
	text-shadow: 0px 1px 1px #555;
}

.intro .box630 p{
	font-size: 16px;
	color: #fff;
	text-shadow: 0px 1px 1px #555;
}

.shareBox{
	float: right;
	margin-top: 300px;
}

.fb-like{
	float: left;
	margin: 1px 0 0 0;
}

.twitter-share-button{
	float: left;
	margin: 0 0 0 20px;
}

.pinBtn{
	float: left;
	margin: 22px 0 0 20px;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.banner {
	margin: 35px 0;
}

.sliders{
	margin-bottom: 50px;
	width: 430px;
	float: left;
}

.sliders .line{
	height: 40px;
}

.sliders .line h4{
	width: 180px;
	font-size: 16px;
	line-height: 40px;
	font-weight: normal;
	color: #777;
	float: left;
	margin: 0;
}

.sliders .line h4 span{
	float: left;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
}

.sliders .size h4 span{
	background: url(../images/sprites.png) no-repeat 0px 0px;
}

.sliders .color h4 span{
	background: url(../images/sprites.png) no-repeat -20px 0px;
}

.sliders .shadow h4 span{
	background: url(../images/sprites.png) no-repeat -40px 0px;
}

.sliders .blur h4 span{
	background: url(../images/sprites.png) no-repeat -60px 0px;
}

.slider{
	width: 250px;
	height: 40px;
	float: right;
	background: url(../images/slider-bg.png) no-repeat left center;
	position: relative;
}

.slider .knob{
	width: 16px;
	height: 16px;
	background: url(../images/sprites.png) no-repeat -80px 0px;
	margin-top: 12px;
	position: absolute;
	display: block;
}

.result{
	float: right;
	width: 200px;
	text-align: center;
	line-height: 135px;
}

.howToUse300{
	float: right;
	width: 240px;
	padding: 20px;
	background: #f7f7f7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0px 1px 1px #ccc;
	-webkit-box-shadow: inset 0px 1px 1px #ccc;
	box-shadow: inset 0px 1px 1px #ccc;
}

.lovedby{
	padding: 50px 0;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

.lovedby p{
	margin: 0;
}

.lovedby img{
	float: right;
	margin-left: 40px;
}

.preview{
	padding-top: 50px;
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 50px;
	padding-bottom: 50px;
}

.preview .whhg, .preview [class^="icon-"]{
	font-size: 48px;
	line-height: 72px;
	margin: 0 22px;
	color: #333;
}

.categories{
	border-bottom: 1px solid #f1f1f1;
	position: relative;
}

.searchIcons{
	position: absolute;
	top: 0;
	right: 0;
}

.searchIcons input[type="text"]{
	width: 200px;
	line-height: 20px;
	height: 20px;
	padding: 5px 5px 5px 26px;
	border: 1px solid #f1f1f1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff url(../images/search.png) no-repeat 5px center;
}

.tabsWrapper{
	width: 960px;
	margin-bottom: 50px;
	position: relative;
}

.howToUse{
	padding-top: 90px;
	margin-bottom: 50px;
}

.tabs{
	width: 170px;
	background: #f7f7f7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0px 1px 1px #ccc;
	-webkit-box-shadow: inset 0px 1px 1px #ccc;
	box-shadow: inset 0px 1px 1px #ccc;
	position: absolute;
	left: 0;
	top: 0;
}

.tabs li{
	width: 170px;
	height: 40px;
}

.tabs li a{
	display: inline-block;
	width: 150px;
	padding-left: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #777;
	text-transform: uppercase;
	line-height: 40px;
}

.tabs li a:hover{
	color: #333;
}

.tabs li a.current{
	width: 148px;
	height: 38px;
	color: #fff;
	text-shadow: 0px 1px 1px #777;
	border: 1px solid;
	border-color: #edb46c #d99a4a #c58331;
	background: #ffc274; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc274 0%, #ffaa3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc274), color-stop(100%,#ffaa3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc274 0%,#ffaa3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc274 0%,#ffaa3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc274 0%,#ffaa3e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc274 0%,#ffaa3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc274', endColorstr='#ffaa3e',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0px 1px 1px #ffddb2;
	-webkit-box-shadow: inset 0px 1px 1px #ffddb2;
	box-shadow: inset 0px 1px 1px #ffddb2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.panel .panButtons{
	float: left;
	width: 170px;
	margin-top: 570px;
}

.panel .panButtons h4{
	margin-bottom: 10px;
}

.panel .panButtons .button{
	line-height: 28px;
	height: 28px;
	width: 168px;
	padding: 0;
	text-align: center;
	margin-bottom: 10px;
	text-transform: none;
	font-size: 11px;
}

.panel .panIcons{
	float: right;
	width: 760px;
	min-height: 440px;
}

.panIcons table td{
	width: 122px;
	height: 72px;
	text-align: center;
	padding: 10px 2px;
	font-size: 11px;
	line-height: 20px;
}

.panel .panIcons .whhg, .panel .panIcons [class^="icon-"]{
	color: #333;
	font-size: 32px;
	line-height: 32px;
	height: 32px;
}

.howToUse .box280{
	float: right;
	width: 240px;
	padding: 20px;
	background: #f7f7f7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0px 1px 1px #ccc;
	-webkit-box-shadow: inset 0px 1px 1px #ccc;
	box-shadow: inset 0px 1px 1px #ccc;
	margin-bottom: 50px;
}

.box280 .button{
	width: 238px;
	text-align: center;
	padding: 0;
	margin-bottom: 20px;
}

.howToUse .box280 p{
	margin: 0;
}

.howToUse .box280share{
	float: right;
	width: 240px;
	padding: 20px;
	background: #f4fbff url(../images/share-bg.png) no-repeat right top;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 1px 1px #ddd;
	-webkit-box-shadow: 0px 1px 1px #ddd;
	box-shadow: 0px 1px 1px #ddd;
	margin-bottom: 50px;
}

.howToUse .box280share .button{
	width: 238px;
	height: 28px;
	line-height: 28px;
	text-transform: none;
	color: #fff;
	text-align: center;
	padding: 0;
	margin-bottom: 10px;
	text-shadow: 0px 1px 1px #555;
}

.button.facebook{
	border-color: #4a6cb2 #3c5792 #2e4576;
	background: #5074bf; /* Old browsers */
	background: -moz-linear-gradient(top,  #5074bf 0%, #3b5998 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5074bf), color-stop(100%,#3b5998)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5074bf 0%,#3b5998 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5074bf 0%,#3b5998 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5074bf 0%,#3b5998 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5074bf 0%,#3b5998 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5074bf', endColorstr='#3b5998',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0px 1px 1px #7c96ce;
	-webkit-box-shadow: inset 0px 1px 1px #7c96ce;
	box-shadow: inset 0px 1px 1px #7c96ce;
}

.button.facebook:hover{
	background: #718abc; /* Old browsers */
	background: -moz-linear-gradient(top,  #718abc 0%, #3b5998 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718abc), color-stop(100%,#3b5998)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #718abc 0%,#3b5998 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #718abc 0%,#3b5998 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #718abc 0%,#3b5998 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #718abc 0%,#3b5998 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#718abc', endColorstr='#3b5998',GradientType=0 ); /* IE6-9 */
}

.button.twitter{
	border-color: #3088d1 #236ca8 #165182;
	background: #3492e1; /* Old browsers */
	background: -moz-linear-gradient(top,  #3492e1 0%, #1d68a7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3492e1), color-stop(100%,#1d68a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3492e1 0%,#1d68a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3492e1 0%,#1d68a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3492e1 0%,#1d68a7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3492e1 0%,#1d68a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3492e1', endColorstr='#1d68a7',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0px 1px 1px #67ade8;
	-webkit-box-shadow: inset 0px 1px 1px #67ade8;
	box-shadow: inset 0px 1px 1px #67ade8;
}

.button.twitter:hover{
	background: #62a7e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #62a7e0 0%, #1d68a7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62a7e0), color-stop(100%,#1d68a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #62a7e0 0%,#1d68a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #62a7e0 0%,#1d68a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #62a7e0 0%,#1d68a7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #62a7e0 0%,#1d68a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a7e0', endColorstr='#1d68a7',GradientType=0 ); /* IE6-9 */
}

.button.gplus{
	border-color: #4e4e4e #3e3e3e #303030;
	background: #545454; /* Old browsers */
	background: -moz-linear-gradient(top,  #545454 0%, #3e3e3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(100%,#3e3e3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #545454 0%,#3e3e3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #545454 0%,#3e3e3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #545454 0%,#3e3e3e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #545454 0%,#3e3e3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#3e3e3e',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0px 1px 1px #909090;
	-webkit-box-shadow: inset 0px 1px 1px #909090;
	box-shadow: inset 0px 1px 1px #909090;
}

.button.gplus:hover{
	background: #707070; /* Old browsers */
	background: -moz-linear-gradient(top,  #707070 0%, #3e3e3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#3e3e3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #707070 0%,#3e3e3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #707070 0%,#3e3e3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #707070 0%,#3e3e3e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #707070 0%,#3e3e3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#3e3e3e',GradientType=0 ); /* IE6-9 */
}

.button.pinterest{
	margin: 0;
	border-color: #dd485a #bb3f47 #9d3738;
	background: #ee4d61; /* Old browsers */
	background: -moz-linear-gradient(top,  #ee4d61 0%, #ca4748 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee4d61), color-stop(100%,#ca4748)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ee4d61 0%,#ca4748 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ee4d61 0%,#ca4748 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ee4d61 0%,#ca4748 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ee4d61 0%,#ca4748 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee4d61', endColorstr='#ca4748',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0px 1px 1px #f27a88;
	-webkit-box-shadow: inset 0px 1px 1px #f27a88;
	box-shadow: inset 0px 1px 1px #f27a88;
}

.button.pinterest:hover{
	background: #ed8793; /* Old browsers */
	background: -moz-linear-gradient(top,  #ed8793 0%, #ca4748 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed8793), color-stop(100%,#ca4748)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ed8793 0%,#ca4748 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ed8793 0%,#ca4748 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ed8793 0%,#ca4748 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ed8793 0%,#ca4748 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8793', endColorstr='#ca4748',GradientType=0 ); /* IE6-9 */
}

.howToUse .box280share .button span{
	display: inline-block;
	background: gray;
	padding-left: 30px;
}

.howToUse .box280share .button.facebook span{
	background: url(../images/facebook-16.png) no-repeat left center;
}

.howToUse .box280share .button.twitter span{
	background: url(../images/twitter-16.png) no-repeat left center;
}

.howToUse .box280share .button.gplus span{
	background: url(../images/gplus-16.png) no-repeat left center;
}

.howToUse .box280share .button.pinterest span{
	background: url(../images/pinterest-16.png) no-repeat left center;
}

.howToUse h4{
	margin-bottom: 20px;
}

.codeBox{
	width: 590px;
	border: 1px solid #f1f1f1;
	background: url(../images/code-bg.png);
	line-height: 20px;
	color: #555;
	padding: 19px 19px 16px 19px;
	margin: 20px 0;
}

.codeBox p{
	padding-top: 4px;
	margin: 0;
	font-family: Courier;
}

.contact{
	width: 920px;
	padding: 20px 20px 0 20px;
	background: #f7f7f7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0px 1px 1px #ccc;
	-webkit-box-shadow: inset 0px 1px 1px #ccc;
	box-shadow: inset 0px 1px 1px #ccc;
	margin-bottom: 50px;
}

.contact p,
.contact h2{
	margin-bottom: 20px;
}

.contact .left{
	float: left;
	width: 670px;
}

.contact .right{
	float: right;
	width: 200px;
}

.contact .right .button{
	width: 198px;
	text-align: center;
	padding: 0;
	margin-bottom: 20px;
	text-transform: none;
}

.footer{
	width: 960px;
	text-align: center;
	font-size: 12px;
	color: #a1a1a1;
	margin: 50px 0;
}

.footer p{
	margin: 0;
}

.range {
	display: none;
}
#searchTab {
        display: none;
}
.autocomplete {
	background: white;
}

code {
 background-color: #F7F7F9;
 border: 1px solid #E1E1E8;
 color: #DD1144;
 padding: 2px 4px;
 white-space: nowrap;
 border-radius: 3px 3px 3px 3px;
}

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.howToUse p {
 margin-bottom: 15px;
}