#up_content {
    padding-left: 2em;
    padding-right: 2em;

}
#arrow {
    height: 2em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    cursor: pointer;
    padding: 0.5em 1em 0em;
    display: none;
    opacity: 0.5;
    z-index: 999999;
}
#arrow:hover {
    opacity: 1;
}